@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Preloader CSS */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; 
  z-index: 9999; 
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#preloader.hide {
  opacity: 0;
  pointer-events: none; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.arrow {
  border: solid #000000;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.left-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.wave-text {
  font-size: 3rem;
  display: inline-block;
  margin: 10px;
  position: relative;
}

.wave-text a {
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 1; /* Ensure link is clickable */
}

.wave-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
  transition: background-color 0.3s ease;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(20px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.wave-text span {
  display: inline-block;
  animation: wave 1.5s infinite;
}

.wave-text span:nth-child(2) {
  animation-delay: 0.1s;
}

.wave-text span:nth-child(3) {
  animation-delay: 0.2s;
}

.wave-text span:nth-child(4) {
  animation-delay: 0.3s;
}

.wave-text span:nth-child(5) {
  animation-delay: 0.4s;
}

.wave-text span:nth-child(6) {
  animation-delay: 0.5s;
}

.wave-text span:nth-child(7) {
  animation-delay: 0.6s;
}

.wave-text span:nth-child(8) {
  animation-delay: 0.7s;
}

.wave-text span:nth-child(9) {
  animation-delay: 0.8s;
}

.wave-text span:nth-child(10) {
  animation-delay: 0.9s;
}

